html {
	height: 100%;
	font-size: 20px;
	background-color: #ffe;
}
body {
	height: 100%;
	width: 60em;
	margin: 0 auto;
}
header {
	background-color: #000;
	color: #fff;
	h1 {
		margin: 0;
		font-size: 5em;
	}
}

nav {
	background-color: #222;
	color: #fff;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	li.courant a {
		background-color: #665;
	}
	a{
		color: inherit;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: .5em 0;
		&:hover {
			background-color: #333;
		}
	}
}

h1 {
	font-size: 4em;
	text-align: center;
	margin: .5em 0 0;
}

div.affichage {
	background-color: #666666;
	border: 1px solid black;
	border-radius: 0.1em 0.1em 0.1em 0.1em;
	box-shadow: 0.2em 0.2em 0.2em -0.2em black inset;
	color: #EEEEEE;
	font-family: courier new;
	font-size: 5em;
	font-weight: bold;
	line-height: 1em;
	padding: 0.3em 0.25em 0.15em;
	margin-top: 1rem;
	text-align: center;
}

form {
	background-color: #CCC;
	text-align: center;
	padding: 1em;
	margin: 1em auto;
	width: 32em;
	font-size: 1.5em;
	input, button, select {
		font:inherit;
	}
}
body > p, div.lien {
	text-align: center;
}